In [5]:
import pandas as pd

In [2]:
pd.__version__

'0.23.0'

In [11]:
dfAccount = pd.read_csv("account.csv")
dfAccountCat = dfAccount.groupby("category")
'''
for cat, sale in dfAccountCat:
    print(cat)
    print(sale)
'''

'\nfor cat, sale in dfAccountCat:\n    print(cat)\n    print(sale)\n'

In [21]:
#dfAccountCat.mean()
#dfAccountCat.max()
#dfAccountCat.min()
grouped = dfAccount[["name", "ext price"]].groupby("name")
#grouped.sum()

In [23]:
dfjson = pd.read_json("JsonSample.json")
dfjson.describe()

In [30]:
df= pd.DataFrame(
    [
        [1,2],
        ["Boris Yeltsin", "Mikhail Gorbachev"]
    ],
    index=["row1", "row2"],
    columns=["column1", "column2"]
)
df

            column1            column2
row1              1                  2
row2  Boris Yeltsin  Mikhail Gorbachev

In [29]:
df2= pd.DataFrame(
    [
        [3,4],
        ["Boris Yeltsin", "Mikhail Gorbachev"]
    ],
    index=["row3", "row4"],
    columns=["column3", "column4"]
)
df2

            column3            column4
row3              3                  4
row4  Boris Yeltsin  Mikhail Gorbachev

In [31]:
'''pd.concat([df, df2], ignore_index = True, sort=True)
pd.merge(df, df2, on="")
df.merge(df2, on="account number", how="outer")
'''

'pd.concat([df, df2], ignore_index = True, sort=True)\npd.merge(df, df2, on="")\ndf.merge(df2, on="account number", how="outer")\n'

In [44]:
dfTitanic = pd.read_csv("Titanic.csv")
aged = dfTitanic["sex"] == "female"
age = dfTitanic["age"] > 50
survived = dfTitanic["survived"] >=1

dfNew = dfTitanic[aged & age & survived]
dfNameAge = dfNew.loc[:, ["name", "age"]]

firstname = dfNameAge["name"].str.split(",").str[0]
lastname = dfNameAge["name"].str.split(",").str[1]

dfnew1 = pd.DataFrame({"firstname":firstname, "lastname":lastname, "age":dfNameAge["age"]})
#dfnew1

In [43]:
dfWeather = pd.read_csv("weather.csv")